.Cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.Card {
	border: 3px solid;
	border-radius: 5px;
	overflow: hidden;
	margin: 10px;
	font-size: 1.4rem;
	display: flex;
	flex-direction: column;
	min-width: 400px;
	max-width: 400px;
	padding: 5px;
	max-height: 400px;
}

.Card .Tittle {
	padding: 5px 0px;
	display: flex;
	justify-content: center;
}

.Card .Content {
	border-radius: 5px;
	background-color: #fff;
	color: #000;
	padding: 15px;
	flex: auto;
}
