body{
    font-family: 'Golos Text', sans-serif;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background-color: rgb(37, 7, 56);
    color: white;
}

h1{
    font-weight: 900;
}

h2, h3 {
    font-weight: 600;
}